@charset "utf-8";
/* CSS Document */
.DivData 
{
  background: #fff;
  border: 1px solid #f0f0f0;
  margin: 0px 0px 10px 0px;
  padding: 10px 15px 15px 15px;
  width: 95%;
}
.DivData ul { margin: 0px 0px 0px 40px; padding: 0px;}
.DivData li { 	
	padding: 0px 0px 0px 0px;
	list-style: url(../images/bullet.gif) inside;
	margin: 0px;
}
.TableData
{
  border: 1px solid #C4C4C4;
  font-size: 12px;
  color: #415a04;
  background-color: #FFF;
  width: 100%;
}

.TableData th
{
  background: #333;
  color: #FFF;
  font-weight: bold;
  font-size: 11px;
  margin: 5px;
  height: 25px;
  text-align: left;
}
.TableData img
{
	border: 0;
	cursor: pointer;
	padding: 2px;
}
.TableRow{
	height: 25px;
	background-color: #f0f0f0;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}

.TableRow2{
	height: 25px;
	background-color: #fff;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}