$primary-font: '"Open Sans", sans-serif';
$color1 : #d15050;	//color principal
//$color2 : lighten($color1, 55%);	//color claro
$color2 : #fff;
$color3 : darken($color1, 10%);	//color oscuro o de contraste respecto el color principal

$font-size-community: 14px;
$border-def: 0px;
$panels-color: #373737;
$panels-color-text: #f0f0f0;
$app_width : 100%;

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;