@font-face {
    font-family: 'Community-Font';
    src: url('fonts/HELVNEUE35_CYR_0.eot');
    src: url('fonts/HELVNEUE35_CYR_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/HELVNEUE35_CYR_0.woff') format('woff'),
         url('fonts/HELVNEUE35_CYR_0.ttf') format('truetype'),
         url('fonts/HELVNEUE35_CYR_0.svg#helvnew45') format('svg');
    font-style: normal;
    font-weight: normal;
}

$primary-font: "Open Sans", sans-serif;
$color1 : #fecf00;	//color principal
$color2 : lighten($color1, 10%);	//color claro
//$color2 : #fff;
$color3 : darken($color1, 10%);	//color oscuro o de contraste respecto el color principal

$font-size-community: 14px;
$border-def: 0px;
$container-color: #f7f7f7;
$container-panel-color: #fff;
$panels-color: #373737;
$panels-color-title: #ccc;
$panels-color-text: #f0f0f0;
$app_width : 100%;

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

/*font-awesome*/
$fa-font-path: "libs/font-awesome-4.2.0/fonts";

/*Bootstrap*/
$icon-font-path: "libs/bootstrap-sass-3.2.0/assets/fonts/bootstrap/";
$font-family-base: $primary-font;
$brand-primary: $color1;
$font-size-base: $font-size-community;
$border-radius-base: $border-def;
$input-color-placeholder: #ccc;
$input-border-focus: $color1;
$navbar-default-bg: $panels-color;
$navbar-default-color: $panels-color-text;
$navbar-default-link-color: $panels-color-text;
$navbar-default-link-active-bg: $color1;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-bg: $color1;
$navbar-default-link-hover-color: #fff;
$navbar-default-toggle-hover-bg: $color1;
$navbar-default-toggle-icon-bar-bg: $color1;
$navbar-default-toggle-border-color: $color1;
$dropdown-bg: $color1;
$dropdown-link-color: #fff;
$panel-primary-border: #e5e5e5;
$panel-default-heading-bg : $panels-color;
$breadcrumb-bg: darken($container-color, 2%);
$breadcrumb-padding-vertical: 6px;