@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "variables";
@import "libs/font-awesome-4.2.0/font-awesome.scss"; /*font-awesome*/
@import "libs/bettertip/jquery.bettertip.scss"; /*jQuery Bettertip*/
@import "libs/sweetalert/sweet-alert.scss"; /*Sweet alert*/
@import "libs/customscrollbar/jquery.mCustomScrollbar.scss"; /*Scrollbar*/
@import "libs/bootstrap-sass-3.2.0/assets/stylesheets/bootstrap"; /*Bootstrap*/
@import "libs/font-awesome-animation/font-awesome-animation.scss"; /*Bootstrap*/

/*SASS MIXINS*/
@mixin transition($elements, $speed, $eff) {
	-webkit-transition: $elements $speed $eff;
	-moz-transition: $elements $speed $eff;
	-ms-transition: $elements $speed $eff;
	-o-transition: $elements $speed $eff;
	transition: $elements $speed $eff;
}

@mixin animation($options) {
	-webkit-animation: $options; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: $options; /* Firefox < 16 */
	-ms-animation: $options; /* Internet Explorer */
	-o-animation: $options; /* Opera < 12.1 */
	animation: $options;
}

@mixin rowMachine($numPerRow, $margin) {
	width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
	&:nth-child(n) {
		margin-bottom: $margin;
		margin-right: $margin;
	}
	&:nth-child(#{$numPerRow}n) {
		margin-right: 0;
		margin-bottom: 0;
	}
	@media screen and (max-width: $break-medium) {
	    margin: 0;
		width: 100%;
	}	
}
/*FIN SASS MIXINS*/

/*Maquetacion APP*/
.app-main{
	@extend .col-md-8;
	@extend .col-lg-9;
	@extend .inset;
}
.app-sidebar-main{
	@extend .col-md-4;
	@extend .col-lg-3;
}
.app-sidebar{
	@extend .app-sidebar-main;
	@extend .nopadding;
	@extend .lateral-container;
}
.app-sidebar-admin{
	@extend .app-sidebar-main;
}
/*Fin Maquetacion APP*/

body{
	background-color:#777;
	color:#333;
	font-size: $font-size-community;
	font-family: $primary-font, sans-serif;
}
a {
	color:$color1; outline:none;
	text-decoration: none !important;
	@include transition(all, 0.5s, ease);
	&:hover{
		color:$color3
	}
}
h1, h2, h3, h4 ,h5{
	font-family:'Community-Font',$primary-font;
	font-weight: lighter;
}
h4 span{
	font-size:14px;
	font-weight:normal;
}
hr{

}
label{
	color:$color1;
	font-weight:normal;
}
section{
	@extend .section;
	margin-bottom: 15px;
	padding: 15px;
	h1 , h2, h3, h4{
		color: $color3;
		margin-top:0;
	}
	article{
		margin-bottom: 15px;
	}
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: $input-bg !important;
}

.text-small{
	font-size: 85%;
}

.section{

	background-color: $container-panel-color;
	@include border-radius($border-def);
	overflow: hidden;
	position: relative;
	@include transition(all, 0.5s, ease);

		&:before {
			color: #fff;
			content: '\f0c6';
			float: right;
			font-family: 'FontAwesome';
			font-size: 36px;
			/* margin-left: -1em; */
			margin: 5px 5px 0 0;
		}

	&:hover{
		background-color: darken($container-panel-color, 7%);
	}
	section{
		margin-bottom: 0;
	}

	section .media-preview-container{
		margin-bottom: 5px;
	}	
}

.section-hover{
	background-color: #e5e5e5;
	color: #999;
	text-align:center;
	@include transition(all, 0.3s, ease);
	section{
		background-color: transparent;
		padding: 0;
		a{
			display: block;
			height: 100%;
			padding: 10px;
		}
	}

	.section-icon{
		border-bottom: 8px solid #999 !important;
		font-size:50px; 
		margin-bottom: 15px;
		margin-top: 15px;
	}

	&:hover{
		background-color: $color1 !important;
		@include box-shadow(#666 0px 0px 10px);
		color: #fff;
		a{
			color: #fff;
		}

		h3{
			color: #000;
		}
		.section-icon{
			border-bottom: 8px solid #000 !important;
		}
	}
}
#header-container{
	background-color: $panels-color;
	/* @include opacity(0.9); */
	position: relative;
}
#container-main{
	margin: 0 (100%-$app_width)/2;
	padding:0;
	position: relative;
	width: $app_width;
	@media screen and (max-width: $break-medium) {
	    margin: 0;
		width: 100%;
	}
}
#menu-main{
	background-color: transparent;
	@include border-radius(0);
	border:0;
	font-family: 'fjallaoneregular';
	font-size: $font-size-community+3;
	letter-spacing: 1px;
	margin-bottom:0;
	text-transform: uppercase;

	.nav {
		.fa{
			text-align: center;
			width:30px !important;
		}
		li:hover .fa{
			color: #fff;
		}

		a{
			@media screen and (max-width: $break-medium) {
			/* 	padding: 6px 15px; */
			}
		}
	}

	.navbar-collapse{
		overflow-y: scroll;
	}
	@media screen and (max-width: $break-medium) {
		background-color: $panels-color;
		@include box-shadow(#999 0 2px 5px);
		left:0;
		max-height: 100%;
		position:fixed;
		top:0;
		width:100%;
		z-index:1039;
	}
}

.menu-alert{
	background-color: $color2;
	@include border-radius(20px);
	color: #000 !important;
	display:inline-block;
	font-size: 12px;
	line-height: 17px;
	padding: 0 4.5px;
	text-align:center;
}

.container-min{
	min-height: 350px;
	@media screen and (max-width: $break-medium) {
		min-height: 0;
	}
}
#page-login label, #page-registration label {
	color:$color3
}
#container-content{
	background: $container-color;
	.col-md-8{
		/* background: #f5f5f5; */
	}
	margin: 0 (100%-$main-container-width)/2;
	padding-bottom: 0;
	position: relative;
	width: $main-container-width;
	/* z-index:-1; */
	h1{
		font-size:28px;
		margin-top:10px;
		@media screen and (max-width: $break-medium) {
			font-size:24px;
			margin: 20px 0;
			text-align:center;
		}
	}
	@media screen and (max-width: $break-medium) {
		margin: 50px 0 0 0;
		width: 100%;
	}
}
.content-header {
	height: 65px;
	line-height: 65px;
	h1 {
		display: inline-block;
		line-height: 65px;
		margin: 0;
		margin-left: 20px;
	}
}
.inset {
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px !important;
	padding-top: 15px;
	@media screen and (max-width: $break-medium) {
		padding-right: 35px;
	}
}
.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}
.header-info{
	color: $panels-color-text;
	height: 65px;
	padding:5px 0 0 0;
	position:relative;
	@media screen and (max-width: $break-medium) {
		height:auto;
		padding: 0;
	}
}
#header-info-logo{
	left:15px;
	position:absolute; 
	top:5px; 
	@media screen and (max-width: $break-medium) {
		height: 50px;
	}
}
#bg {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}
.row-top{
	margin-left: 0;
	@media screen and (max-width: $break-medium){
		margin-top: 0;
	}
}
.footer{
	background-color: #000;
	border-top: 10px solid #666;
	bottom: 0;
	color:#f0f0f0;
	font-family: 'fjallaoneregular', $primary-font;
	font-size:14px;
	height: 100%;
	letter-spacing: 2px;
	margin:0;
	min-height:200px;
	padding: 20px;
	@include opacity(0.9);
	position: relative;
	text-align: center;
	width: 100%;
	z-index:100;
	a{
		color:$color1;
		font-size: 18px;
		margin: 0 15px;
		&:hover{
			color:$color1;
		}
	}
	@media screen and (max-width: $break-large) {
	    width:100%;
	    a{
	    	display: block;
	    	font-size: 14px;
	    	text-align: left;
	    }
	}
}
.footer-section{
	@include rowMachine(4, 2%);
	background: white;
	padding: 15px;
	float: left;
	
	h4{
		margin-bottom: 0;
	}

	img {
		width: 100%; 
	}
}
.lateral-container{
	@extend .full-height;
	background-color: $panels-color;
	border-left: 0 solid #bebebe;
	color: $panels-color-text;
	/* @include box-shadow(#999 0px 0px 10px); */
	/* @include opacity(0.9); */
	.fa-stack{
		color: $color1;
		.fa-inverse{
			color:#fff;
			font-size: 12px;
		}
	}
	@media screen and (max-width: $break-medium) {
		border-left: 0;
		color:#666;
	}
}
.comunidad-color{
	color:$color1;
}
.free-container{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-8 */	
	color: #e5e5e5;
	margin: 10% 0 0 0;
	font-weight: lighter;
	a {
		color: $color1;
	}
	a.btn-primary{
		color: $btn-primary-color;
	}
	a.btn-default{
		color: $btn-default-color;
	}
	h1{
		color: #fff;
		margin-bottom:40px;
		@include text-shadow(#000 1px 1px 1px);
		@media screen and (max-width: $break-medium) {
			font-size: 30px;
			margin-bottom:0;
			text-align: center;
		}
	}
	label{
		color: #e5e5e5;
		font-size: $font-size-community + 1;
		text-align:right;
		@media screen and (max-width: $break-medium) {
			@include text-shadow(#000 1px 1px 1px);
		}
	}
}

#login-container-deg{
	@extend .free-container;
	margin: 10% 0 0 0;
	@media screen and (max-width: $break-medium) {
		background: transparent;
		margin:0;
	}
}
.login-container{
	padding: 0;
}
#form-login{
	margin-right: 10%;
	@media screen and (max-width: $break-medium) {
		margin-right: 0;
	}
}
.form-big{
	font-size: $font-size-community + 6;
}
.login-img{
	margin: 30px 20% 10px 20%;
	width:50%;
	@include animation(fadein 2.5s);
	animation: fadein 1s;

	@media screen and (max-width: $break-medium) {
		margin: 10px 25% 10px 25%;
		width:50%;
	}
}

#loginSubmit{
	margin-right: 20px;
	@media screen and (max-width: $break-medium) {
		margin-right: 0;
	}
}
.container-separator{
	margin: 20px 0 5px 0;
	padding: 0 15px;
}
/*Fin login Page*/

/*Confirm page*/
#confirm-container{
	@extend .free-container;
	margin: 10% 0 50px 0;
	.btn-primary, .btn-default {
		margin-top: 10px;
	}
}
/*Fin confirm page*/

/*Panel de informacion usuario*/
#user-info{
	color: $panels-color-text;
	font-size: 13px;
	margin-right: 20px;
	a{
		outline: none
	}
	img{
		@include border-radius($border-def);
		float:right;
		height:55px;
		margin-left:10px;
		width:55px;
	}
	p{
		margin:10px;
		text-align: right;
	}
	span {
		color:$color3;
	}
	.points{
		color: #bbb;
		font-family: 'fjallaoneregular';
		font-size: $font-size-community;
		margin-left: 15px;
		position: relative;
    	top: 3px;
		big{
			font-size: $font-size-community + 8;
		}
	}
	.fa{
		font-size: 21px;
		margin-left: 15px;
	}
	#contador-leidos-header{
		background-color: #bbb;
		@include border-radius(20px);
		color: #fff;
		display:inline-block;
		font-size: 12px;
		font-family: 'fjallaoneregular';
		letter-spacing: 1px;
		line-height: 17px;
		padding: 0 4.5px;
		text-align:center;
	}
	@media screen and (max-width: $break-medium){
		background-color:$panels-color;
		border-bottom:1px solid #fff;
		display:none;
		overflow:hidden;	
	}
}
.stars-big .stars-user {
	font-size: 30px;
}
.stars-user {
	display: inline-block;
	font-size: 8px;
	line-height:8px;
	margin: 0 1px 0 0;
	padding: 0 0 0 0;


}
.star-on {
	@extend .stars-user;
	color:$color3;
}
.star-off {
	@extend .stars-user;
	color:#ccc;
}

/*Ficha de usuarios - Tooltip*/
.ficha-user{
	display: inline-block; 
	margin:0 10px 15px 0 !important; 
	width: 110px !important;
	font-size: $font-size-community - 2;

	img{
		height: 100px !important;
		width:100px !important;
	}

	div{
		padding: 5px;
	}
}
.tooltip-media{
	margin:8px;
}
.ficha-user-tip {
	color: $color3;
	display:none;
}
.ficha-user-tip-info{
	color: $color1;
}
.comment-mini-img{
	@include border-radius($border-def);
	display:block;
	width: 40px;
}
.imgUserTip {
	margin: 0 10px 0 -4px;
	width: 100px;
}
/*Fin Ficha de usuarios - Tooltip*/

/*Mensajeria interna*/
.MensajeTextoCuerpo{
	background:#fff;
	display:none;margin:0 0 15px 0;
	padding:10px;
}
.MensajeNoLeido{
	background-color:lighten($color1, 47%);
}
/*Fin Mensajeria interna*/

/*Muro*/
.panel-muro{
	background-color:#fff;
	font-size: $font-size-community - 2;
	height: 495px;
	.ver-mas{
		background-color:$panels-color;
		border-top: 1px solid #f0f0f0;
		font-size: $font-size-community;
	}
	#cargando{
		margin-top: 50px;
		position: relative;
		@media screen and (max-width: $break-medium) {
			margin-top: 0;
		}
	}
	@media screen and (max-width: $break-medium) {
		height: auto;
	}
}
#muro-home{
	background: #fff;
	color: #666;
	height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 10px;
	padding-top: 10px;
	p {
		margin-bottom: 5px;
	}

	hr{
		border-top: 0 solid #e5e5e5;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(102, 102, 102, 0.75), rgba(0, 0, 0, 0));
		margin: 10px 10% 5px 10%;
	}
	.media{
		margin-bottom: 5px;
		margin-top: 0;
		padding-top: 8px;
		position:relative;
		.legend{
			font-size: 11px;
			position: absolute;
			right: 0;
			top: -3px;
			z-index: 9999;
		}
		.fa{
			@include opacity(0.5);
			&:hover{
				@include opacity(1);
			}
		}
	}
	@media screen and (max-width: $break-medium) {
		height: auto;
		margin: 0 20px;
		width:95%; 
	}	
}
.cargando-ajax { 
	left: 50%;
	margin-left: -24px;
	margin-top: 80px;
	position: absolute;
	top: 100px;
	width: 48px;
}
#cargando {
	@extend .cargando-ajax;
}
#cargando-infinnite {
	margin-top: 10px;
	text-align:center;
	.btn{
		margin-bottom: 20px;
	}
}

#cargando-infinnite-end {
	display:none;
	@extend #cargando-infinnite;
}
.murogusta, .responder-triger{
	cursor: pointer
}
.ajax-load{
	color:$color1;
	font-size: 50px;
	margin-top: 30px;
	@media screen and (max-width: $break-medium) {
		font-size: 30px;
		margin-top:65px;
	}	
}
.ver-mas{
	background-color: transparent;
	border-top: 0 solid #ccc;
	font-family:'Community-Font',$primary-font;
	height: 45px;
	padding: 10px 20px;
	text-align: right;	
	a{
		color: $color1;
		font-size: $font-size-community + 2;
		outline:none;
		@include transition(all, 0.3s, ease);
		&:hover{
			color:darken($panels-color, 50%);
			font-size: $font-size-community + 4;
			span{
				color:$color1;
				font-size: 24px
			}
		}
		span{
			color: darken($panels-color, 50%);
			font-size: 20px
		}
	}
}
.date-format-ago{
	color: #999;
}
/*Fin Muro*/

.panel-interior{
	//@extend .full-height;
	background-color: $panels-color;
	color: $panels-color-text;
	overflow: hidden;
	padding: 0 15px 15px 15px;
	width: 100%;
	h1, h2, h3, h4, h5, h6{
		color: $panels-color-title;
		margin-top:15px;
	}
	label{
		color: $color1;
		@media screen and (max-width: $break-medium) {
			color:$color1;
		}
	}
	select, textarea,input[type='text']{
		margin-bottom:10px;
	}
	.btn-primary{
		margin-top:10px;
		@media screen and (max-width: $break-medium) {
			margin-bottom: 10px
		}
	}
	.input-group input[type='text']{
		margin-bottom:0;
	}
	@media screen and (max-width: $break-medium) {
		padding: 10px 20px 10px 20px !important;
	}
}

/*Muro responder*/
#muro-insert{
	@extend .panel-interior;
}
#muro-responder{
	background:#f9f9f9;
	bottom:20px;
	border:1px solid #f0f0f0;
	@include box-shadow(#999 0 0 5px);
	color:#E31E27;
	display:none;
	font-weight:bold;
	margin:auto;
	overflow:hidden;
	padding:0 0 15px 0;
	position:fixed;
	right:20px;
	width:425px;
	z-index:1001;
	h2{
		@include border-radius($border-def);
		border:0;
		color:#000;
		font-size:12px;
		line-height:15px;
		margin:0;	
		padding:8px 0 8px 10px;
		@include text-shadow(#fff 1px 1px 1px);
	}
	.btn{
		margin-top:10px;
	}
	@media screen and (max-width: $break-medium) {
		bottom: 0;
		left:0;
		width: 100%;
	}	
}
#muro-respuesta-comentario{
	color:#666;
	display:block;
	font-size:11px;
	font-style:italic;
	margin:5px 0 5px 0;
}
#muro-responder-content{
	color:#666666;
	padding:0 15px 0 15px;
}
#muro-responder-cerrar{
	color:#666;
	cursor:pointer;
	display:inline-block;
	height:29px;
	position:absolute;
	right:0;
	top:3px;
	width:25px;
	&:hover{
		color:#000;
	}
}
#muro-responder-result{
	bottom:10px;
	clear:both;
	color:#F80000;
	display:none;
	font-size:11px;
	padding:0 0 0 10px;
	position:absolute;
	right:20px;
}
.responder-triger{
	cursor:pointer;
	display:inline-block;
	height:13px;
	margin:0 0 0 5px;
	padding:3px 0 0 0;
}

/*Galeria de fotos*/
.gallery-container{
	background-color: #eaeaea;
	float: left;
	margin: 0 2% 2% 0%;
	padding: 2%;
	overflow: hidden;
	width: 46%;
	p {
		text-transform: uppercase;
		span{
			color: #999;
			text-transform: lowercase; 
		}
	}
	@media screen and (max-width: $break-medium) {
		float:none;
		margin-right:0;
		width:100%;
	}
}
.trigger-gallery-container{
	height: 250px;
	overflow: hidden;
	@media screen and (max-width: $break-medium) {
		height: 200px;
	}	
}
.trigger-gallery{
	cursor: pointer;
	min-height: 250px;
	outline: none;
	width: 100%;
	@media screen and (max-width: $break-medium) {
		min-height: 200px
	}	
}
#respuestas-textos{
	@media screen and (max-width: $break-medium) {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

.gallery-container-mini{
	margin-top: 15px;
	overflow: hidden;
}
.gallery-container-mini-img1{
	padding-right:5px;
}
.gallery-container-mini-img2{
	padding:0 10px;
}
.gallery-container-mini-img3{
	padding-left:5px;
}
.galeria-ultimos{
	height: 150px;
	margin: 20px 0 5px 0;
	overflow: hidden;
	img{
		min-height: 150px;
		width: 100%;
	}
}
/*Fin galeria de fotos*/

/*Galeria de videos*/
.videoplayer{
	background-color: #000;
	color: #FFF;
}
.media-preview-container{
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
	div{
		display: inline-block;
		float: left;
		font-size: $font-size-community;
		width: 60%;	
		span{
			color:#999;
		}

		@media screen and (max-width: $break-medium) {
			font-size: 14px
		}
	}
	.media-preview{
		float: left;
		margin-right: 3%;
		width: 37%;
	}
}
#form-video-comment{
	background-color:$panels-color;
	@include border-radius($border-def);
	padding:20px;
}
/*Fin galeria de videos*/

/*Foros*/
.legend{
	color: $color1;
	a{
		color: $color1;
	}
}

.legend-table{
	color: #999;
	margin: 10px 0;
}

.search-form{
	margin:0 !important;
	padding-bottom: 10px !important;
	form{
		padding:0;
		@media screen and (max-width: $break-medium) {
			margin-right:0;
		}
	}
}

.input-group-btn button{
	background-color:$color1;
	@include border-radius($border-def);
	border-color:$color1;
	color:#fff !important;
	&:hover{
		background-color:$color2;
		border-color:$color2;
		color:$color1 !important;
	}
}
.media hr {
	margin: 8px 0 0 0;
}
.media-comment{
	background-color: transparent;
	border-bottom: 1px solid #e5e5e5;
	@include border-radius($border-def);
	margin: 0 0 0px 0;
	overflow:hidden;
	padding:15px 15px 10px 15px;
	position: relative;
	p{
		line-height:16px;
		margin-bottom: 5px;
	}
	textarea{
		margin: 10px 0;
	}
	.legend{
		color:#999;
		.fa{
			color:$color3;
		}
	}
	.media-body{
		@media screen and (max-width: $break-medium) {
			margin-bottom:20px;
		}
	}

	.media-comment{
		border-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.comment-info{
	color:$color1;
	position: absolute;
	right: 0;
	top: 5px;
	.label{
		background-color: $container-color;
		color:$color1;
		font-size: $font-size-community - 2;
		font-weight:normal;
		.fa{
			color: $color1;
		}
	}

	@media screen and (max-width: $break-medium) {
		top: 2px;
		right: 2px;
	}
}
.comment-reply-trigger{
	cursor:pointer;
}
.comment-reply{
	display:none;
}
/*Fin foros*/

/*Perfil usuario*/
.user-perfil-img{
	border: 10px solid #fff;
	@include border-radius(100%);
	@include box-shadow(#999 2px 2px 10px);
	margin: 15px 20% 20px 20%;
	width:60%;
	@media screen and (max-width: $break-medium) {
		margin: 30px 20% 20px 20%;
		width:60%;
	}
}
/*Fin perfil usuario*/

/*Tablas administrador*/
.icon-alert{
	@include border-radius(30px);
	background-color:red;
	color:#fff;
	height:18px;
	padding:3px 0 0 0;
	text-align:center;
	width:18px;
}
.icon-ok{
	@extend .icon-alert;
	background-color: green;
}
/*fin Tablas administrador*/

/*Imagenes en blanco y negro*/
.blanco-negro {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");	
	-webkit-filter: grayscale(1); 
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; 

	@include transition(all, 0.5s, ease)
}
.blanco-negro:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
}
/*Fin Imagenes en blanco y negro*/

/*Tablas*/
a.icon-table, span.icon-table{
	color:$color3 !important;
	cursor: pointer;
	&:hover{
		color:$color1 !important;
	}
	&[disabled]{
		color: #999 !important;
		cursor: auto;
	}
}
table th {
	background-color: $color1 !important;
	color: #fff;
}
/*Fin de tablas*/

/*Alertas*/
.alert-message{
	display: none;
	margin-top: 10px;
	padding: 7px 15px;
	&:before {
		color: #333;
		content: '\f071';
		float: left;
		font-family: 'FontAwesome';
		/* margin-left: -1em; */
		margin-right: 10px;
	}
}
.alert{
	@include border-radius($border-def)
}
.alert-danger{
	background-color:#b23939;
	color:#fff;
}
/*Fin de Alertas*/

/*Paneles*/
.col-panel{
	height: 100%
}
.panel-comunidad{
	background-color: #fff;
	border: 0; 
	padding:0;
	/* border-bottom: 1px solid #e5e5e5; */
	margin-bottom:15px !important;
	padding-top: 15px;
	a{
		color: $color3
	}
	h4 {
		color:$color1;
		font-size: 16px;
		font-weight: bolder;
		margin:0 0 5px 0;
		a{
			color:$color1 !important;
		}
	}	
	.panel-heading{ 
		background-color: $color1;color:#fff;
		.panel-heading a{ 
			color:#fff; outline: none;
			@include transition(all, 0.5s, ease);
			&:hover{
				color:#fd5858;
			}
		}
	}
	.panel-footer {
		background-color: transparent;
		border: 0;
		color: #999;
		font-size: $font-size-community - 2;
		margin-bottom: 0;
		padding-top: 0;
		.fa{
			color:$color3;
		}
	}
	.panel-body {
		padding-bottom: 10px;
		padding-top: 5px;
		h3 {
			font-family: $primary-font;
			font-weight:bolder;
			font-size:20px;
			margin-top:0;
			a{
				color:#fff !important;
				&:hover {
					color: $color3 !important;
				}
			}
		}		
	}
}
/*Fin paneles*/

/*Areas de trabajo*/
.form-tarea-container{
	background-color:$container-color; 
	color:$color3;
	margin-bottom:15px;
	padding:15px 15px 20px 15px;
	div{
		margin:10px 20px;
	}	
	h5{
		color:$color1;
		font-size: 16px;
		font-weight:bolder;
		margin:0 0 10px 0;
	}
	textarea{
		height:80px;
		margin-top:10px;
	}
}
.panel-areas-detalle{
	margin:0 25px 0 10px;
}
.panel-areas{
	margin-top:25px !important;
}
.form-tareas{
	display: none;
	padding: 15px
}
.documentacion-tareas{
	display: none;
}
#container-respuestas{
	background:#000;
	clear:both;
	display:none;
	margin:1% 0 0 0;
	padding:1%;
}
.panel-documentos{
	background-color: $container-color;
	color:$color1;
	float:left;
	font-size: $font-size-community - 2;
	height:110px;
	margin: 0 2%;
	padding:5px 0;
	width:29%;
	i{
		display:block;
		font-size:50px;
		margin-bottom: 10px;
		@media screen and (max-width: $break-medium) {
			font-size:20px;
		}
	}
	@media screen and (max-width: $break-medium) {
		height: auto;
		margin: 10px 0;
		width:100%;
	}
	a{
		outline: none;
	}
}
/*Fin Areas de trabajo*/

/*Blog*/
.blog-similares{
	margin: 20px 0 40px 40px;
	padding-top: 20px;
	overflow: hidden;
	h4{
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	@media screen and (max-width: $break-medium) {
		margin-left:0;
	}		
}
#page-blog .pager{clear: both}
.lista-lateral{
	list-style: none;padding-left: 20px;
	a{
		color: #666;
		@include transition(all, 0.5s, ease);
		outline: none;
		&:hover{
			color: $color1
		}
	}
	@media screen and (max-width: $break-medium) {
		padding-left: 0;
		li{ 
			display: inline; 
			margin-right: 10px
		}
	}	
}
.desplegable{
	width: 90%;
	@media screen and (max-width: $break-medium) {
		width: 90%;
	}
}
/*Fin de blog*/

.full-height{
	margin-bottom: -99999px !important;
	padding-bottom: 99999px !important;
	@media screen and (max-width: $break-medium) {
		margin-bottom: 15px !important;
		padding-bottom: 15px !important;
	}
}
.full-height.lateral-container{
	@media screen and (max-width: $break-medium) {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}

/*font-awesome*/
.fa-big{
	color:$color1;
	font-size:140px;
	margin: 20px 0;
	@media screen and (max-width: $break-medium) {
		font-size:80px;
	}
}

.fa-medium{
	color:$color2;
	font-size:55px;
	margin: 0 10px;
	position: relative;
	@include text-shadow($color3 1px 1px 1px);
	small{
		color: #fff;
		font-family: $primary-font;
		font-size: 16px;
		left: 11px;
		position: absolute;
		text-align: center;
		@include text-shadow($color3 1px 1px 1px);
		top: 11px;
		width: 30px;
	}
	@media screen and (max-width: $break-medium) {
		font-size:40px;
		small{
			font-size: 14px;
			left: 4px;
			margin-top:7px;
			top: 0;
		}
	}
}

/*Bootstrap*/
//[class*="col-"]{margin-bottom: -99999px !important;padding-bottom: 99999px !important;}
.nav-tabs{
	a{
		outline: none;
		&:hover{
			color: #fff;
		}
	}
}
.tab-content > .tab-pane {
    background-color: #fff;
    border-left: 1px solid #e0e0e0;
}
.breadcrumb{
	font-size: $font-size-community - 2;
}
.panel{
	@include box-shadow( rgba(0, 0, 0, 0.05) 0 1px 7px);
	border: 0;
}

.panel-primary .fa{
	color: #fff;
}
.panel .panel-heading .fa{
	font-size: 15px;
}

dt {
    color: #666;
    font-weight: 500;
}
.row{overflow: hidden;}
.bootstrap-datetimepicker-widget{background-color:$color1 !important}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover{ background-color:$color2 !important; color:$color1}
.bootstrap-datetimepicker-widget td.day:hover,.bootstrap-datetimepicker-widget td span.month:hover,.bootstrap-datetimepicker-widget td span.year:hover{background-color:$color3 !important;color:$color2 !important}
.bootstrap-datetimepicker-widget td.active{background:$color3 !important;color:$color2}
.bootstrap-datetimepicker-widget .old, .bootstrap-datetimepicker-widget .new{color:$color2 !important}
.bootstrap-datetimepicker-widget .old:hover, .bootstrap-datetimepicker-widget .new:hover{color:#fff !important}
.bootstrap-datetimepicker-widget ul{padding: 0}
.bootstrap-datetimepicker-widget td span.active {background-image:none !important;background-color:$color3 !important;color:$color2}
.addon{
	background-color: $color1;
	@include border-radius($border-def);
	color:$color2
}
.table{
	.legend{
		color:#999;
		font-style: italic;
	}
	a {
		color: $color3;
		&:hover {
			color: $color1;
		}
	}
	.label-danger, .label-warning, .label-success{
		color:#fff;
	}
	td span{
		color:#333;
	}	
	a.label {
		color:#fff !important;
	}
}
.navbar-brand {
	.fa{
		@include transition(all, 0.5s, ease);
		&:hover{
			color: $color1;
		}
	}
}
.navbar-default{
	.navbar-form{
		margin: 3px;
		padding: 0;
	}
}
/*Fin bootstrap*/

/*Ventana modal Bootstrap*/
.modal.modal-wide .modal-dialog {
	width: 50%;
	@media screen and (max-width: $break-medium) {
		margin-top: 70px;
		width: 97%;
	}
}
/*Fin Ventana modal Bootstrap*/

/*Mailing*/
#mailing-process-info{
	background-color:#fff;
	border: 1px solid $color1;
	color: #000;
	font-family: courier, 'Lucida Console';
	height: 150px;
	margin: 20px 0;
	overflow-y: scroll;
	padding:10px;
}
.message-preview{
	border: 1px solid #f0f0f0;
	margin: 20px 10%;
	padding: 15px 0;
	width:80%;
	.message-preview-detail{
		border-bottom: 1px solid #f0f0f0;
		color: #666;
		margin:0 0 10px 0;
		padding: 0 0 10px 10px;
	}
}
/*Fin mailing*/

@mixin button-pulp(){
	animation:HeartPulp 1.5s ease 0 infinite alternate;
	-webkit-animation:HeartPulp 1.5s ease infinite; /* Chrome y Safari */
	-moz-animation:HeartPulp 1.5s ease infinite;    /* Firefox */
	-ms-animation:HeartPulp 1.5s ease infinite;     /* IE */
	-o-animation:HeartPulp 1.5s ease infinite;      /* Opera */	
	color:red;
	font-size: 14px;
	height: 18px;
	margin: 0 1px 0 2px;
	position: relative;
	top: 2px;
	width: 18px;
}
.heart-pulp{
	@include button-pulp();
}

/* Animación para Chrome y Safari */    
@-webkit-keyframes HeartPulp {
	0%   { font-size:14px; }      	/* Al principio de la animación */
	50% { font-size: 17px; left:-1px;top:0px;}  		/* Mitad de la animación */
	100% { font-size: 14px; }  		/* Al final de la animación */
}

/* Animación para Firefox */    
@-moz-keyframes HeartPulp {
	0%   { font-size:14px; }      	/* Al principio de la animación */
	50% { font-size: 17px; }  		/* Mitad de la animación */
	100% { font-size: 14px; }  		/* Al final de la animación */
}

/* Animación para IE 10+ */    
@-ms-keyframes HeartPulp {
	0%   { font-size:14px; }      	/* Al principio de la animación */
	50% { font-size: 17px; }  		/* Mitad de la animación */
	100% { font-size: 14px; }  		/* Al final de la animación */
}

/* Animación para Opera */    
@-o-keyframes HeartPulp {
	0%   { font-size:14px; }      	/* Al principio de la animación */
	50% { font-size: 17px; }  		/* Mitad de la animación */
	100% { font-size: 14px; }  		/* Al final de la animación */
	}

/* Animación para todos (cuando sea oficial, de momento no funciona en ningun navegador) */    
@keyframes HeartPulp {
	0%   { font-size:14px; }      	/* Al principio de la animación */
	50% { font-size: 17px; }  		/* Mitad de la animación */
	100% { font-size: 14px; }  		/* Al final de la animación */
}

/*Users connected*/
#cargando-users-conn {
	@extend .cargando-ajax;
}
.users-connected{
	background-color:#fff;
	height:450px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:10px;
	.media{
		.media-heading{
			font-size:16px;
			font-weight: bolder;
			margin: 0;
		}
		img{
			width:50px;
		}
	}
}
/*End Users connected*/

/*Panel de administración*/
#admin-panel{
	@extend .full-height;
	background-color:$panels-color;
	color:$panels-color-text;
	font-size:13px;
	overflow: auto;
	padding: 15px 15px 45px 15px;
	right: 0;
	z-index: 101;
	h2{
		color:darken($panels-color, 30%) !important;
		font-size:16px;
		margin-bottom:0 !important;
	}
	h3{
		color:darken($panels-color, 30% );
		font-size:18px;
	}
	ul{
		background-color: lighten($panels-color, 8%);
		margin:0 -15px 0 -15px;
		padding:0 0 0.1px 0;
		li{
			background-color:$panels-color;
			list-style:none;
			margin:0 0 1px 0;
			padding:7px 0 7px 15px;
			border-bottom:1px solid darken($panels-color, 6%);
			&:before {
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				/* margin-left: -1em; */
				margin-right: 10px;
				color: $color1;
			}
			&:hover{
				background-color:darken($panels-color, 8%);
				border-bottom:1px solid darken($panels-color, 14%);
			}
		}
		ul{
			background-color:darken($panels-color, 6%);
			margin: 0;
			padding:0 0 0.1px 0;
			li{
				background-color:darken($panels-color, 12%);
				margin:0 0 1px 0;
				padding:7px 0 7px 50px;
				border-bottom:1px solid darken($panels-color, 12%);
				a{
					display:block;
				}
				&:hover{
					background-color:darken($panels-color, 8%);
					border-bottom:1px solid darken($panels-color, 12%);
				}
			}
		}
	}
}
.module-admin-header{
	cursor:pointer;
}
.module-admin-header:hover{
	color:$color1;
}
.module-admin-item{
	display:none;
	li a{
		color:#666 !important;
		&:hover{
			color:$color1 !important;
		}
	}
	li a.active{
		color:$color1 !important;
		font-weight:bolder;
	}
}
/*Fin Panel de administración*/

#language-selector{
	display:inline-block;
	position: absolute;
	right: 15px;
	top: 65px;
	z-index: 1040;
	li{
		display:inline-block;
	}
	a{
		margin-right:5px;
	}
	@media screen and (max-width: $break-medium) {
		position: fixed;
		right: 65px;
		top: 15px;
		img{
			width:25px;
			margin-right:5px;
		}
	}	
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.thumbnail.photo-comment{
	border:0;
	text-align:center;
}
#photos {
	background-color:transparent;
	text-align:center;
	padding:10px 0;
	display: inline-block;
	justify-content: center;

	div{
		display: inline-block;
		margin: 10px 10px;
		position:relative;

		@media screen and (max-width: $break-medium) {
			width: 100%;
		}

		img{
			
			height: 180px;
			//width: auto;
			
			@media screen and (max-width: $break-medium) {
				height: auto;
				width: 100%;
			}	
		}
		.photo-info{
			background-color: #000;
			color: #fff;
			display:none;
			font-size: $font-size-community - 2;
			left: 0;
			margin:0;
			@include opacity(0.7);
			padding: 17px 10px 0 10px;
			position: absolute;
			text-align: left;
			top: 0;
			width: 100%;
			a{
				color: #fff;
				&:hover{
					color: $color1;
				}
			}
			span{
				position: absolute;
				top: 4px;
				right: 4px;
			}
		}
		.photo-likes{
			bottom: 2px;
			color: #fff;
			display: inline-block;
			position: absolute;
			right: 5px;
			@include text-shadow(#000 1px 1px 1px);
			text-align:right;

			.fa{
				color: #fff;
			}
			a{
				color: #fff;
			}
			@media screen and (max-width: $break-medium) {
				display: inline-block !important;
			}
		}
	}	
}
section, .panel-comunidad, .media-comment, .videoplayer, .container-fade, #photos div, .thumbnail img {
	@include animation(fadein 1s);	
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.list-funny{
	list-style:none;
	padding-left: 0;
	li{
		margin-bottom:5px;
		&:before {
			color: $color1;
			content: '\f105';
			float: left;
			font-family: 'FontAwesome';
			/* margin-left: -1em; */
			margin-right: 10px;
		}
	}
}
.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.msg-flash{display:none}
.input-alert{
	background-color: #FEC9BC;
	border-color: #fb8a6f;
	@include input-placeholder {
		color: #e59797;
		font-style: italic;
		padding: 10px;
	}
}

#toTop{
	background-color: $color1;
	bottom: 20px;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 22px;
	height: 40px;
	@include opacity(0.8);
	padding-top: 4px;
	position: fixed;
	right: 20px;
	text-align: center;
	width:40px;
	z-index: 99999;
	@media screen and (max-width: $break-medium) {
		position: absolute;
	}
	&:hover{
		@include opacity(1);
	}
}

.items-tags{
	.label{
		margin-right:3px;
		a{
			color: #fff;
			font-weight: normal;
			outline: none;
			.fa{
				color: #fff;
			}
		}
	}
}
.panel-ranking{
	.panel-color{
		@include transition(all, 0.3s, ease);
		@include opacity(0.5);
		color: #fff;
		big{
			font-size: 32px;
			font-weight: bold;
			line-height: 44px;
			@include transition(all, 0.3s, ease);
		}
	}
	&:hover{
		.panel-color{
			@include opacity(0.8);
			big{
				font-size: 44px;
			}
		}
	}

	div.text-small{
		line-height: 12px;
	}

	@media print {
		margin: 0 !important;
		div{
			background-color: #f0f0f0 !important;
			-webkit-print-color-adjust: exact; 
			display: inline-block;
			float: left;
			.panel-description{
				width: 450px !important;
			}
			.panel-color{
				background-color: #f0f0f0 !important;
				-webkit-print-color-adjust: exact; 
				width: 150px !important;
			}
			p{
				font-size: 0 !important;
				line-height: 20px !important;
				height: 27px !important;
			}
			h4{
				font-size: 18px !important;
				margin:0;
			}
		}
	}
}
.icon-fun{
	color: #c5c5c5;
	font-size: 46px;
	margin-top: 5px;
	text-align: center;
}

/*Graficos*/
.container-graph{
	min-width: 310px;
	margin: 0 auto;
}
.highcharts-button{
	@media print {
		display: none;
	}
}
/*Fin Graficos*/