httpdocs/docs/audio/*.*
httpdocs/docs/cargas/*.*
httpdocs/docs/cursos/*.*
httpdocs/docs/export/*.*
httpdocs/docs/fotos/*.*
httpdocs/docs/info/*.*
httpdocs/docs/tareas/*.*
httpdocs/docs/videos/*.*
httpdocs/images/foro/*.*
httpdocs/images/usuarios/*.*
httpdocs/images/mailing/*
httpdocs/images/banners/*.*
/.project
/.vagrant
css/.sass-cache
bin/.sass-cache
bin/npm-debug.log