@font-face {
    font-family: 'groteskia';
    src: url('fonts/groteskia_0-webfont.eot');
    src: url('fonts/groteskia_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/groteskia_0-webfont.woff2') format('woff2'),
         url('fonts/groteskia_0-webfont.woff') format('woff'),
         url('fonts/groteskia_0-webfont.ttf') format('truetype'),
         url('fonts/groteskia_0-webfont.svg#groteskiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FjallaOne';
    src: url('fonts/FjallaOne-Regular-webfont.eot');
    src: url('fonts/FjallaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FjallaOne-Regular-webfont.woff2') format('woff2'),
         url('fonts/FjallaOne-Regular-webfont.woff') format('woff'),
         url('fonts/FjallaOne-Regular-webfont.ttf') format('truetype'),
         url('fonts/FjallaOne-Regular-webfont.svg#fjallaoneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$primary-font: "Open Sans", sans-serif;
$community-font1: 'groteskia';
$community-font2: 'FjallaOne';
$color1 : #0071C1;	//color principal
$color2 : lighten($color1, 10%);	//color claro
//$color2 : #fff;
$color3 : darken($color1, 10%);	//color oscuro o de contraste respecto el color principal

$font-size-community: 14px;
$border-def: 4px;

$body-bg: #000;
$body-text: #fff;
$container-color: rgba(0, 0, 0, 0.6);
$container-panel-color: #000;
$header-color: rgba(0, 0, 0, 0.6);
$header-color-text: #ccc;
$menu-color: rgba(0, 0, 0, 0.6);
$menu-color-text: $color2;
$footer-color: rgba(0, 0, 0, 0.8);
$footer-color-text: #fff;
$panels-color: rgba(0, 0, 0, 0.8);
$panels-color-title: $color2;
$panels-color-text: #f0f0f0;

$app_width : 90%;
$main-container-width : 100%;

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

/*font-awesome*/
$fa-font-path: "../../../css/libs/font-awesome-4.2.0/fonts";

/*Bootstrap*/
$btn-default-bg: lighten($color1, 50%);
$icon-font-path: "../../../css/libs/bootstrap-sass-3.2.0/assets/fonts/bootstrap/";
$font-family-base: $primary-font;
$brand-primary: $color1;
$font-size-base: $font-size-community;
$border-radius-base: $border-def;
$input-bg: lighten($color1, 30%);
$input-bg-disabled: lighten($color1, 10%);
$input-color: $color3;
$input-border: darken($color1, 30%);
$input-color-placeholder: $color2;
$input-border-focus: $color1;
$modal-content-bg: $panels-color;
$nav-link-padding: 10px 15px 0 15px;
$nav-link-hover-bg: #e0e0e0;
$nav-tabs-active-link-hover-color: $color2;
$nav-tabs-border-color:darken($panels-color, 10%);
$nav-tabs-active-link-hover-border-color:darken($panels-color, 10%);
$nav-tabs-justified-link-border-color:darken($panels-color, 10%);
$nav-tabs-link-hover-border-color: transparent;
$navbar-height: 40px;
$navbar-default-bg: $panels-color;
$navbar-default-color: $color1;
$navbar-default-link-color: $color1;
$navbar-default-link-active-bg: $color1;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-bg: $color1;
$navbar-default-link-hover-color: #fff;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $color1;
$navbar-default-toggle-border-color: none;
$dropdown-bg: $color1;
$dropdown-link-color: #fff;
$panel-bg: $panels-color;
$panel-default-heading-bg: darken($color1, 20%);
$panel-default-text: $color2;
$panel-inner-border: transparent;
$panel-default-border: transparent;
$panel-primary-border: transparent;
$breadcrumb-bg: darken($container-color, 2%);
$breadcrumb-padding-vertical: 6px;
$table-bg-hover: lighten($color1, 47%);
$table-bg-accent:rgba(0, 113, 193, 0.5);
$tooltip-max-width: 350px;
$text-muted: lighten($color1, 40%);
$pager-bg:$panels-color;
$pager-hover-bg:$panels-color;
$pager-border: $color3;
$pager-active-color: $color1;
$pager-disabled-color: $color2;